@font-face {
  font-family: "Poppins", "Fira Code";
  src: url("./fonts/fa-solid-900.woff2") format("woff2");
}

body {
  font-family: "Poppins", "Fira Code", sans-serif;
  background-image: url("./images/bg-intro-desktop.png");
  background-size: cover;
  background-position: center;
  background-color: hsl(0, 100%, 74%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  color: white;
  padding-right: 5%;
  width: 40%;
  font-size: 25px;
  line-height: 1.2;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
}

.form {
  width: 40%;
}

.form .ad {
  background-color: hsl(248, 32%, 40%);
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-radius: 1vh;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: white;
  margin-bottom: 2.5vh;
}

.form form {
  background-color: white;
  height: 45%;
  padding: 5% 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 6px 0 rgba(0, 0, 0, 0.2);
  transition: height 0.3s ease;
}

.form form.invalid {
  height: 55%;
  padding: 5% 0 1%;
}

.form input {
  font-family: "Poppins", "Fira Code", sans-serif;
  width: 85%;
  height: 60px;
  padding-left: 5%;
  border-radius: 5px;
  border-color: hsl(249, 10%, 50%, 0.1);
  font-size: 14px;
  font-weight: 600;
  box-sizing: border-box;
  transition: 0.1s ease;
}

.form input:focus {
  border-color: hsl(248, 32%, 49%);
  border-width: 1px;
  outline: none;
}

.form .error-message {
  align-self: end;
  margin: 5px 50px 15px 0;
  color: hsl(0, 100%, 74%);
  font-size: 10px;
  font-style: italic;
}

.form input.invalid {
  border-color: hsl(0, 100%, 74%);
  background-image: url("./images/icon-error.svg");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 25px;
  padding-right: 40px;
}

.form button {
  width: 85%;
  height: 60px;
  border-radius: 10px;
  font-size: 14px;
  color: white;
  background-color: hsl(154, 59%, 51%);
}

.form button:hover {
  cursor: pointer;
  background-color: hsl(154, 59%, 70%);
}

.form p {
  margin-top: 20px;
  font-size: 11px;
  color: hsl(249, 10%, 75%);
}

.form a {
  color: hsl(0, 100%, 74%);
  font-weight: bold;
}

.form a:hover {
  cursor: pointer;
  text-decoration: underline;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 100%;
}

.attribution {
  font-size: 12px;
  text-align: center;
  color: white;
}

.attribution a {
  color: hsl(228, 45%, 60%);
}

.attribution a:hover {
  color: hsl(228, 45%, 44%);
  text-decoration: underline;
}

@media (max-width: 412px) and (max-height: 915px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 0 20px;
    background-image: url("./images/bg-intro-mobile.png");
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 7%;
    z-index: 1;
  }

  .content {
    padding-right: 0;
    width: 100%;
    text-align: center;
    font-size: 18px;
  }

  .content p {
    font-size: 14px;
  }

  .form {
    width: 100%;
    margin-bottom: 0;
  }

  .form .ad {
    padding: 0;
    margin-top: 30px;
  }

  .form form {
    height: 450px;
    width: 100%;
    text-align: center;
  }

  .form form.invalid {
    height: 500px;
  }

  .form input {
    height: 60px;
    width: 90%;
  }

  .form .error-message {
    margin: 0 7% 3% 0;
  }

  .form button {
    width: 90%;
  }

  .form p {
    padding: 0 50px;
  }

  footer {
    bottom: 0;
  }
}

@media (max-height: 760px) {
  body {
    padding-bottom: 10%;
  }
}